@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.outer {
  width: 100vw;
  /* height: fit-content; */
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  display: flex;
}

/* .inner_left {
    width: 30vw;
    height: 100vh;
    background: rgb(42, 42, 42);
} */

.inner_right {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: rgb(0, 0, 0);
}
.Pay {
  border: 1px solid blue;
  border-radius: 4px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inner_right_top {
  color: white;
  text-align: center;
  font-weight: 100;
  font-family: 'Bebas Neue', cursive;
  padding: 5vh 0;
  font-size: 3em;
}

.inner_right_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh 5vw;
}

.user_form {
  height: 70vh;
  border-radius: 10px;
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #20202a;
  padding: 5vh;

}

.user_form > div:nth-child(2) {
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.user_form > div:nth-child(5) {
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.user_form > div {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.labels {
  width: 100%;
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.7rem;
  text-align: start;
  margin-bottom: 2vh;
  border-bottom: 1px solid rgb(0, 170, 255);
}
.resumeinput {
  width: auto;
  height: auto;
  outline: none;
  background: blue;
  font-family: 'Bebas Neue', cursive;
}

.inputbox {
  background: transparent;
  color: wheat;
  border: none;
  width: 100%;
  font-size: 1.5rem;
  padding: 20px;
}
.imginpt{
  /* background-color: red; */
  border-radius: 50px;
  padding:4px;
  font-size: 15px;
  
}
.imginpt::-webkit-file-upload-button{
  /* background-image:linear-gradient(45deg,blue,#000); */
  background-color: white;
  color:#000;
  margin-right:20px;
  font-weight: bold;
  padding:8px 16px;
  border-radius: 50px;
  /* border:none; */
  border: 3px solid black;
  cursor: pointer;
}
.resume {
  position: absolute;
  bottom: 18%;
  font-family: 'Bebas Neue', cursive;

  width: auto;
  height: auto;
  padding: 15px 10px 15px 10px;
   /* background-image: radial-gradient(circle ,rgb(0, 37, 55),#000); */
   /* border: 2px solid white; */
  /* background-color: #021135; */
  /* box-shadow:0 4px 10px 0 rgba(0,37,255); */
  border: 2px solid rgba(0,37,255);
  /* color: */
  
  /* background: transparent; */
  border-radius: 10px;
  color: white;
  font-size: 20px;
  transition: 0.4s;
  right: 10%;
}
.resume:hover {
  cursor: pointer;
  /* transform: scale(1.1); */
}

.submit {
  padding: 10px 14px;
  /* width: 11vw; */
  width:max-content;
  background: rgb(0, 170, 255);
  border:none;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  border-radius: 5px;
}
.submit2 {
  padding: 10px 14px;
  width: max-content;
  /* height:4vh; */
  /* background: rgb(0, 170, 255); */
  background-color: white;
  /* border: 2px solid black; */
  /* background-color: red; */
  /* position: relative; */
  margin-left:5vw;
  margin-top:1vh;   
  font-size: 1.2rem;
  
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  border-radius: 25px;
  color: black;
  transition: 0.2s;
}
.submit2:hover{
  transform: scale(1.1);
  background-color: rgb(31, 52, 191);
  color:white;
  /* border:2px solid white; */
}
.none {
  display: none;
}
.resumeUploadCluster {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  /* background-color: white; */
}
.resumebtn {
  color: white;
}
.launchpad_logo {
  position: fixed;
  top: 1vh;
  left: 2vw;
  height: 50px;
  width: 100px;
}
@media screen and (max-width: 1400px) {
  .submit {
    transform: scale(1.1);
  }
  .labels {
    transform: scale(1.1);
  }
  .inputbox {
    transform: scale(0.8);
  }
  .outer {
    overflow-x: hidden;
  }
  .inner_right_bottom {
    padding: 0;
  }
  .inner_right_top {
    transform: scale(0.8);
  }
  .resume {
    transform: scale(1);
    padding: 15px;
  }
  .submit{
    transform: scale(0.9);
  }
}
@media screen and (max-width:900px){
  .user_form{
    height:200vh;
  }
  .user_form > div {
    width: 80vw;
  }
  .resume {
    position: relative;
    bottom: -20%;
    right: auto;
    margin-top:-10vh;
    margin-bottom: 15vh;
    font-size: 25px;
  }
  .user_form > div:nth-child(2) {
    width: 80vw;
  }
  .user_form > div:nth-child(5) {
    width: 80vw;
  }
  .launchpad_logo {
    display: none;
  }
  .inner_right_top {
    margin-top: 8vh;
  }
  .resume{
    margin-left:-10vw;
    /* background-color: white; */
  }
  .submit2{
    margin:auto;  
    margin-top:5vh;
  }
  .submit {
    /* margin-top: 10vh; */
    height:12vh;
    width: 100%;
    margin-left: -7vw;
    margin-right: auto;
  }
}
@media screen and (max-width: 549px) {
  .user_form{
    height:200vh;
  }
  .user_form > div {
    width: 80vw;
  }
  .resume {
    position: relative;
    bottom: -20%;
    right: auto;
    margin-top:-10vh;
    margin-bottom: 15vh;
    font-size: 25px;
  }
  .user_form > div:nth-child(2) {
    width: 80vw;
  }
  .user_form > div:nth-child(5) {
    width: 80vw;
  }
  .launchpad_logo {
    display: none;
  }
  .inner_right_top {
    margin-top: 8vh;
  }
  .resume{
    margin-left:-12.5vw;
    /* background-color: white; */
  }
  .submit2{
    margin:auto;  
    margin-top:5vh;
  }
  .submit {
    /* margin-top: 10vh; */
    height:12vh;
    width: 100%;
    margin-left: -7vw;
    margin-right: auto;
  }
}
@media screen and (max-width: 549px) and (min-height:750px) {
  .user_form{
    height:200vh;
  }
  .user_form > div {
    width: 80vw;
  }
  .resume {
    position: relative;
    bottom: -20%;
    right: auto;
    margin-top:-10vh;
    margin-bottom: 15vh;
    font-size: 25px;
  }
  .user_form > div:nth-child(2) {
    width: 80vw;
  }
  .user_form > div:nth-child(5) {
    width: 80vw;
  }
  .launchpad_logo {
    display: none;
  }
  .inner_right_top {
    margin-top: 8vh;
  }
  .resume{
    margin-left:-8vw;
    /* background-color: white; */
  }
  .submit2{
    margin:auto;  
    margin-top:5vh;
  }
  .submit {
    /* margin-top: 10vh; */
    height:12vh;
    width: 100%;
    margin-left: -7vw;
    margin-right: auto;
  }
}
