.div {
    font-size: 2em;
}

.input {
    margin-bottom: 3vh;
    margin-right: 0vw;
    margin-left: 0vw;
    text-align: center;
}

.inputbox {
    position: relative;
    border-radius: 3px;
    border: none;
    /* box-shadow: 5px 5px 10px rgb(0, 119, 255); */
    background-color: white;
    width: 15vw;
    margin: 0px;
    height: 5vh;
    color: black;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.inputbox::placeholder, .inputbox1::placeholder {
    color: black;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: normal;
}

.submit{
    color: white;
    background-color: rgb(0, 119, 255);
    border: none;
    border-radius: 3px;
    width: 10vw;
    height: 5vh;
    font-size: large;
    margin-bottom: 2vh;
}

@media screen and (max-width: 600px) {
    .inputbox {
        width: 40vw;
    }
    .submit {
        width: 40vw;
        margin-left: auto;
    }
  }