@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.eventname {
  /* position: relative; */
  text-align: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(0,0,0,0.2);
  box-shadow: 0px 15px 20px 10px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  align-items: center;
  width: 70%;
  margin-left:15%;
  color: white;
}
.ticketsheading {
  /* position: relative; */
  text-align: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(0,0,0,0.4);
  box-shadow: 0px 15px 20px 10px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  align-items: center;
  width: 70%;
  margin-left:15%;
  color: white;
  /* top: 2vh; */
}
.section {
  /* min-height: 100vh; */
  height: 100%;
  padding-top: 10%;
  width: 100%;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .section {
    padding-top: 35%;
  }
}
