.container {
  position: fixed;
  background-color: rgba(22, 32, 43, 0.8);
  backdrop-filter: blur(20px);
  /* background-color: white; */
  max-height: 89vh;
  min-height: 89vh;
  top: 10vh;
  width: 30vw;
  /* padding:10px; */
  right: 0;
  transform: translateX(1500px);
  text-align: center;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  z-index: 99;
  overflow: hidden;
  border-radius: 10px;
  /* overflow-y: scroll; */
  justify-content: space-between;
  transition: all 1s ease;
}
.container2 {
  position: fixed;
  background-color: rgba(22, 32, 43, 0.8);
  backdrop-filter: blur(20px);

  /* background-color: white; */
  max-height: 89vh;
  min-height: 89vh;
  top: 10vh;
  width: 30vw;
  /* padding:10px; */
  right: 0.5vw;
  text-align: center;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  z-index: 99;
  /* overflow-y:hidden; */
  overflow: hidden;
  border-radius: 10px;
  /* overflow-y: scroll; */
  justify-content: space-between;
  transition: all 1s;
}
.heading {
  position: relative;
  background-color: rgba(22, 32, 43, 1);

  /* bottom:100px; */
  /* background-color: red; */
  min-height: 100px;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 10px 10px 0 rgba(255, 255, 255, 0.1);
  display: flex;
  /* background-color: white; */
  width: 100%;
}
.mainheading {
  font-size: 35px;
  width: 100%;
}
.item {
  position: relative;
  margin: 10px;
  margin-top: 60px;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 10px 0 rgba(255, 255, 255, 0.08);
  /* background-color: white;
     */
  background-color: rgb(13, 26, 39);
}
.outer {
  position: relative;
  background-color: transparent;
  margin: 0;
  padding: 10px;
  /* min-height:10vh; */
  /* background-color: rgba(255,255,255,0.2); */
  overflow-y: scroll;
}
.outer::-webkit-scrollbar {
  display: none;
}
.image {
  /* position: absolute; */
  width: 45%;
  background-image: url('../../assets/images/Merch/1.png');
  background-size: cover;
  border-radius: 5px;
}
.content {
  width: 55%;
  color: white;
  padding: 20px;
}
.details {
  font-weight: bold;
}
.prices {
  font-weight: bold;
  font-size: large;
}
.btn {
  margin: auto;
  margin-top: 20px;
  background-color: red;
  /* padding:10px; */
  border: none;
  border-radius: 5px;
  min-height: 40px;
  min-width: 80px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.btn:hover {
  cursor: pointer;
}
.footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  justify-content: baseline;
  align-items: center;
  text-align: center;
  /* background-color: red; */
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.price {
  /* position: absolute; */
  width: 55%;
}
.paybtn {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  right: 0;
  height: 132px;
  /* justify-content: baseline; */
  /* background-color:white; */
}
.finalbtn {
  height: 60px;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  width: 75%;
  border-radius: 10px;
  border: none;
  /* background-color:blue; */
  background-color: hsl(177, 89%, 41%);
}
@media screen and (max-width: 800px) {
  .container {
    width: 100vw;
    opacity: 1;
    transform: translateX(-1500px);
  }
  .container2 {
    width: 100vw;
    height: 215vh;
    transform-origin: right;
    overflow-y: hidden;
  }
  .item {
    height: 240px;
  }
}
@media screen and (max-width: 800px) and (min-height: 700px) {
  .container {
    width: 100vw;
    opacity: 1;
    transform: translateX(-1500px);
    top: 8vh;
  }
  .container2 {
    width: 100vw;
    height: 215vh;
    transform-origin: right;
    /* overflow-y: hidden; */
    top: 8vh;
  }
  .item {
    height: 240px;
  }
}
